<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839152650709-57vsd7gt6rrnoc0ugu34ldd29bhivfog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839152650709-57vsd7gt6rrnoc0ugu34ldd29bhivfog</string>
	<key>API_KEY</key>
	<string>AIzaSyA82njSK-SpV3d8f19u9n1MLSBXfcZkV_w</string>
	<key>GCM_SENDER_ID</key>
	<string>839152650709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-25a9d</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-25a9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839152650709:ios:e2b829a4940c065308155c</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-25a9d-default-rtdb.firebaseio.com</string>
</dict>
</plist>